@use "./colors" as *;
@use "./fonts" as *;
@use "./breakpoints" as *;

body {
  font-family: "Roboto", sans-serif;
  color: $nt-1;
  background-color: $nt-10;
}

// global classes
.container {
  margin: 0 1rem;

  @include md {
    margin: 0 2rem;
  }

  @include lg {
    margin: 0 3.75rem;
  }

  @include xlg {
    max-width: 1170px;
    margin: 0 auto;
  }
}
